* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

section {
    min-width: 100%;
    min-height: 100vh;
    max-height: min-content;
}

.hero {
    background-color: #333333;
}

.hero-1 {
    background-image: url('/img/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.story {
    background-image: url('/img/bg3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.story-1 {
    background-color: #F0F0E1;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-family: 'Dancing Script', cursive;
}

.one {
    font-family: amster;
    font-size: 4rem;
}

.subtitle {
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

.akad {
    font-family: wedding;
}

.first-2 {
    margin-top: -50px;
}

@media(max-width: 600px) {
    .hero-1 {
        background-image: url('/img/bg4.png');
        background-size: cover;
    }

    .title {
        font-size: 3rem;
    }

    .first {
        margin-top: -80px;
    }

    .first-2 {
        margin-top: -200px;
    }

    .one {
        font-size: 2.3rem;
    }

    .story {
        background-image: url('/img/bg3-1.png');
    }

    .title-one {
        margin-top: -300px;
    }


}